MONGODB_URI=mongodb+srv://ulhaqilhamdhiya:jc9DK3D4IoetBjQY@cluster0.cu1ui.mongodb.net/chat_db?retryWrites=true&w=majority&appName=Cluster0
PORT=5001

JWT_SECRET=TiqqKS1RCCLyqf6/jp2qnhA72DEUgn2UboEf1eQeb20=
NODE_ENV=

CLOUDINARY_CLOUD_NAME=dhx40ctxv
CLOUDINARY_API_KEY=346251888664729
CLOUDINARY_API_SECRET=8evSSWtysPuZxfXLs0rCcEB2js4

FRONTEND_URL=http://localhost:5173
